<h2>Projects</h2>

<div class="row">
  {{#each projects}}
    <div class="col-md-6">
      <div class="well">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <button class="btn btn-primary" type="button">
          Open Pull Requests <span class="badge">{{openPullRequest}}</span>
        </button>
      </div>
    </div>
   {{/each}}
</div>
